Django==4.1.7
django-environ==0.10.0
django-markdowner==0.0.3
django-sass-processor==1.2.2
environ==1.0
feedparser==6.0.10
gnews==0.2.7
libsass==0.22.0
markdown2==2.4.8
Pillow==9.4.0
pymongo==3.12.3
python-dotenv==0.19.2
sqlparse==0.4.3
psycopg2==2.9.5
psycopg2-binary==2.9.5
# tzdata==2022.7
# urllib3==1.26.14
# # requests==2.28.2
# sgmllib3k==1.0.0
# soupsieve==2.4
# asgiref==3.6.0
# backports.zoneinfo==0.2.1
# beautifulsoup4==4.9.3
# bs4==0.0.1
# certifi==2022.12.7
# # charset-normalizer==3.0.1
# dnspython==1.16.0
# idna==3.4
