{% extends "globalNews/layout.html" %}
{% load static %}

{% load times %}
{% load split %}
{% load searchForExistence %}


{% block title %} Global News - Your local news - {{ local_news_articles.query }} {% endblock %}

{% block body %}

<div class="explore_topic_articles--BLOCK">
    {% if geolocation %}
        <header class="explore_topic_articles--HEADER">
            <div class="explore_topic_articles_header--CONTENT">
                <div class="local_news_articles_header--CONTAINER">
                    <div class="local_news_articles_header--TYPOS">
                        <span class="local_news_articles--EL small-mid__FONTSIZE">Your Local News:</span>
                        <h2 class="xlarge__FONTSIZE">{{ local_news_articles.query }}</h2>
                    </div>
                    <div class="choose_different_country_btn--CONTAINER">
                        <a class="choose_different_country--BTN" href="{% url 'local' %}?reset=true">
                            <img src="{% static 'globalNews/assets/icons/global-map.png' %}" alt="global map">

                            <span class="small__FONTSIZE choose_different_country--BANNER">Choose different Country</span>
                        </a>
                    </div>
                </div>
                
                {% if request.user.is_authenticated %}
                    <div class="explore_topic_articles_header--CTAs">
                        <div class="explore_topic_articles_header_ctas--CONTAINER">
                            <form class="follow_topic--FORM" action="{% url 'followTopic' geolocation %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{ geolocation }}" name="topic_title">

                                {% with "topic="|add:geolocation|default:''|add:"&type=topicExistence" as topic_query %}
                                    <button data-followed="{% if currentUser_followed_topics|searchForExistence:topic_query %}true{%else%}false{%endif%}" class="follow_topic--BTN search_topic_cta--BTN">
                                        <div class="search_topic_cta--CONTENT follow_topic_cta--CONTENT">
                                            <div class="search_topic_cta_img--CONTAINER">
                                                <img src="{% static 'globalNews/assets/icons/empty-star[ BLUE ].png' %}" alt="share news topic">
                                            </div>
                                            <span class="mid__FONTSIZE follow_cta--TYPO">follow</span>
                                        </div>
                                
                                        <div class="search_topic_cta--CONTENT unfollow_topic_cta--CONTENT">
                                            <div class="search_topic_cta_img--CONTAINER">
                                                <img src="{% static 'globalNews/assets/icons/filled-star[ BLUE ].png' %}" alt="share news topic">
                                            </div>
                                            <span class="mid__FONTSIZE follow_cta--TYPO">unfollow</span>
                                        </div>
                                    </button>
                                {% endwith%}
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </header>

        <div class="news_articles--BLOCK">
            {% if local_news_articles and local_news_articles.articles|length %}
                <div class="news_articles--CONTAINER">
                    {% for topicArticle in local_news_articles.articles %}
                        {% with topicArticle.title|split:" - "|slice:"-1"|join:" " as article_title %}
                            <article class="news_article--CARD">
                                <a target="_blank" href="{{topicArticle.url}}">
                                    <div class="news_article--CONTENT">
                                        <div class="news_article_typos--CONTAINER">
                                            <h3 class="mid-large__FONTSIZE">
                                                {% if article_title %}
                                                    {{ article_title }}
                                                {% else %}
                                                    {{ topicArticle.title }}
                                                {% endif %}
                                            </h3>
                                        </div>
                            
                                        <figure class="news_article_img--FIGURE">
                                            {% if topicArticle.urlToImage %}
                                                <img src="{{topicArticle.urlToImage}}" alt="{{ topicArticle.title }}">
                                            {% else %}
                                                <img src="{% static 'globalNews/assets/background/default_news_thumbnail 2.png' %}" alt="search result article's thumbnail is not available ">
                                            {% endif %}
                            
                                            <figcaption hidden>{{ topicArticle.title }}</figcaption>
                                        </figure>
                                    </div>
                                </a>
                                <div class="news_article_card--FOOTER">
                                    <div class="news_article_card_secondary_infos--CONTAINER">
                                        <span class="news_article_sincePublish--EL small-mid__FONTSIZE">{{ topicArticle.sincePublishTime }}</span>
                                        <span class="small-mid__FONTSIZE"> -- </span>
                                        <span class="news_article_source--EL small-mid__FONTSIZE">{{ topicArticle.source.name }}</span>
                                    </div>
                                
                                    {% if request.user.is_authenticated %}
                                        <div class="news_article--CTAs">
                                            <form action="{% url 'saveNewsArticle' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="title" value="{{ topicArticle.title }}">
                                                <input type="hidden" name="description" value="{{ topicArticle.description }}">
                                                <input type="hidden" name="articleUrl" value="{{ topicArticle.url }}">
                                                <input type="hidden" name="thumbnail" value="{{ topicArticle.urlToImage }}">
                                                <input type="hidden" name="PublishmentDate" value="{{ topicArticle.publishedAt }}">
                                                <input type="hidden" name="source" value="{{ topicArticle.source.name }}">
                                        
                                                {% with "title="|add:topicArticle.title|default:''|add:"&source="|add:topicArticle.source.name|default:''|add:"&type=articleExistence" as article_query %}
                                                    <div data-saved="{% if currentUser_saved_articles|searchForExistence:article_query %}true{%else%}false{%endif%}" class="bookmark_news_article_btn--BLOCK news_article_btn--BLOCK">
                                                        <button class="bookmark_news_article--BTN news_article_cta--BTN">
                                                            <img class="unsaved_news_article--IMG" src="{% static 'globalNews/assets/icons/bookmark.png' %}"
                                                                alt="unsaved news article">
                                                            <img class="saved_news_article--IMG" src="{% static 'globalNews/assets/icons/filled_bookmark.png' %}"
                                                                alt="unsaved news article">
                                                        </button>
                                                        <span class="news_article_cta_hover--BANNER small__FONTSIZE">
                                                            {% if currentUser_saved_articles|searchForExistence:article_query %}
                                                                remove from save list
                                                            {%else%}
                                                                save for later
                                                            {%endif%}
                                                            
                                                        </span>
                                                    </div>
                                                {% endwith %}
                                            </form>
                                        
                                            <div class="share_news_article_btn--BLOCK news_article_btn--BLOCK">
                                                <input type="hidden" name="articleSource" value="{{topicArticle.source.name}}">
                                                <input type="hidden" name="articleTitle" value="{{topicArticle.title}}">
                                                <input type="hidden" name="articleUrl" value="{{topicArticle.url}}">

                                                <button type="submit" class="share_news_article--BTN news_article_cta--BTN">
                                                    <img src="{% static 'globalNews/assets/icons/share.png' %}" alt="share news article">
                                                </button>
                                                <span class="news_article_cta_hover--BANNER small__FONTSIZE">share</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </article>
                        {% endwith %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="noArticlesFound--BLOCK">
                    <div class="noArticlesFound--CONTENT">
                        <h3 class="mid-large__FONTSIZE">This page is empty.</h3>
                        <a class="mid__FONTSIZE" href="{% url 'local' %}">Back to First page</a>
                    </div>
                </div>
            {% endif %}

            {% if local_news_articles.message %}
            <div class="articles_error--BLOCK">
                <center>
                    <h3 class="mid__FONTSIZE">{{ local_news_articles.message }}</h3>
                </center>
            </div>
            {% endif %}
            
            {% if local_news_articles.totalPages > 0 and not local_news_articles.message %}
                {% if local_news_articles.articles|length %}
                    <div class="articles_panigation--BLOCK">
                        <div class="articles_panigation--CONTENT">
                            <ul class="articles_pages--LIST">
                                {% if local_news_articles.currentPage|add:'-1' >= 1 %}
                                    <li>
                                        <a class="panigation_page--LINK small-mid__FONTSIZE" href="{% url 'local' %}?page={{ local_news_articles.currentPage|add:'-1' }}">prev</a>
                                    </li>
                                {% endif %}
                    
                                {% for idx in local_news_articles.totalPages|times %}
                                    {% with idx|add:"1" as page_index %}
                                        <li>
                                            {% if page_index == local_news_articles.currentPage %}
                                                <a disabled="true" class="panigation_page--LINK small-mid__FONTSIZE" href="{% url 'local' %}?page={{ page_index }}">{{ page_index }}</a>
                                            {% else %}
                                                <a disabled="false" class="panigation_page--LINK small-mid__FONTSIZE" href="{% url 'local' %}?page={{ page_index }}">{{ page_index }}</a>
                                            {% endif %}
                                        </li>
                                    {% endwith %}
                                {% endfor %}
                    
                                {% if local_news_articles.currentPage|add:'1' <= local_news_articles.totalPages %} 
                                    <li>
                                        <a class="panigation_page--LINK small-mid__FONTSIZE"
                                            href="{% url 'local' %}?page={{ local_news_articles.currentPage|add:'1' }}">next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="noArticlesFound--BLOCK">
                        <div class="noArticlesFound--CONTENT">
                            <h3 class="mid-large__FONTSIZE">This page is empty.</h3>
                            <a class="mid__FONTSIZE" href="{% url 'local' %}">Back to First page</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        <div class="location_selection--BLOCK">
            <header class="location_selection--HEADER">
                <h3 class="large__FONTSIZE">select location of your intrest:</h3>

                <form class="location_selection--FORM" action="{% url 'local' %}" method="post">
                    {% csrf_token %}
                    <div aria-expanded="false" class="location_selection_formInput--BLOCK">
                        <div class="location_selection_formInput--CONTENT">
                            <label for="country" class="location_selection_formInput_icon--CONTAINER">
                                <img src="{% static 'globalNews/assets/icons/search.png' %}" alt="search location">
                            </label>

                            <input class="mid__FONTSIZE search_country--INPUT" autocomplete="off" placeholder="Enter Country" name="country" id="country" required>
                        </div>

                        <div class="available_countries_options--CONTAINER"></div>
                    </div>
                </form>
            </header>
            <section class="selected_countries--BLOCK">
                <h4 class="selected_countries--TITLE mid__FONTSIZE">Your local news:</h4>

                <div class="no_selected_countries--BLOCK">
                    <div class="no_selected_countries--CONTENT">
                        <div class="no_selected_countries_img--CONTAINER">
                            <img src="{% static 'globalNews/assets/icons/default_no_selected_countries.webp' %}" alt="no selected countries">
                        </div>
                        <span class="no_selected_countries--TYPO mid__FONTSIZE">See local news you care about by adding countries</span>
                    </div>
                </div>
            </section>
        </div>
    {% endif %}
</div>

{% endblock %}