@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600;700&display=swap");

// Breakpoints -- SECTION
@mixin for-sm-phone-only {
  @media (max-width: 450px) {
    @content;
  }
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-down {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
// -----------------------------------


// Global Variables

$dark_color: #000000;
$light-dark_color: #474a4d;
$dark-light_color: #5f6368;
$light_color: #c1c1c1;
$super_light_color: #f1f1f1;
$extremely_light_color: #f9f9f9;

$main_blue_color: #4040f3;
$secondary_blue_color: #5c5cf3;
$thirdly_blue_color: #b1b1f3;

// *********************************************************

// Default styles Configaration
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html{
  &:has(.share_overlay--BLOCK[data-visible="true"]) {
    overflow: hidden;
  }
}

body {
  position: relative;
  font-family: "Cairo", sans-serif;
  min-height: 100vh;
}

a,
span {
  display: inline-block;
  text-decoration: none;
  color: $dark_color;
}

li {
  list-style: none;
}

button,
input {
  border: none;
  outline: none;
  background: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

p {
  line-height: 1.4;
}

$main_border_radius: 2rem;
$secondary_border_radius: 1rem;
$thirdly_border_radius: 0.5rem;
$rounded_border_radius: 30rem;

// *********************************************************

//////////// Global Font sizes

.xlarge__FONTSIZE {
  font-size: clamp(2.7rem, calc(0.6rem + 2.2vw), 5rem);
  // font-size: 3.5rem;
}
.large__FONTSIZE {
  font-size: clamp(2rem, calc(.8rem + 1.7vw), 4.5rem);
  // font-size: 3rem;
}
.mid-large__FONTSIZE {
  font-size: clamp(1.7rem, calc(1.4vw + 0.3rem), 4rem);
  // font-size: 2.5rem;
}
.mid__FONTSIZE {
  font-size: clamp(1.3rem, calc(1vw + 0.3rem), 3.2rem);
  // font-size: 2rem;
}
.small-mid__FONTSIZE {
  font-size: clamp(.8rem, calc(0.1rem + 0.9vw), 2.5rem);
  // font-size: 1.5rem;
}
.small__FONTSIZE {
  font-size: 1rem;
}

//////////// *********************************************************

// *********************************************************

.main--HEADER {
  border-bottom: 1px solid $super_light_color;

  .main_header--UPPERBLOCK {
    padding: 1.5rem clamp(.5rem, calc(.1rem + 2.5vw), 8rem);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-phone-only{
      display: grid;
      grid-template-areas: 
        "a c"
        "b b";
    }

    h1 {
      flex: 0 0 clamp(5.3rem, calc(2.7rem + 3.3vw), 11rem);
      width: clamp(5.3rem, calc(2.7rem + 3.3vw), 11rem);
      aspect-ratio: 1;
      grid-area: a;

      img {
        width: 100%;
      }
    }

    .main_header_search--BLOCK {
      grid-area: b;
      width: 60%;

      @include for-phone-only{
        width: 100%;
        margin-top: 1.5rem;
      }

      form {
        width: 100%;
        padding: 0.5rem 1.5rem;
        border-radius: $thirdly_border_radius;
        display: flex;
        column-gap: 2rem;
        border: 1px solid $super_light_color;
        box-shadow: 0 0.5rem 1.1rem -1rem rgba(0, 0, 0, 30%);
        transition: border 0.3s ease, box-shadow 0.3s ease;

        &:has(input:focus) {
          border-color: $light_color;
          box-shadow: 0 0.6rem 2rem -1rem rgba(0, 0, 0, 0.3);
        }

        button {
          cursor: pointer;
          border-radius: $rounded_border_radius;
          padding: clamp(.5rem, calc(.2rem + 0.5vw), 1.1rem);
          transition: background 0.3s ease;

          &:hover {
            background-color: $super_light_color;
          }

          img {
            width: clamp(2rem, calc(1rem + 1.7vw), 4rem);
            margin: auto;
          }
        }

        .main_header_search_input--CONTAINER {
          height: auto;
          width: 100%;

          input {
            height: 100%;
            width: 100%;

            &::placeholder {
              color: $light_color;
              font-weight: 500;
            }
          }
        }
      }
    }

    .user_auth_ctas--CONTAINER {
      grid-area: c;
      display: flex;
      align-items: center;
      justify-content: end;
      column-gap: clamp(1.5rem, calc(1rem + 1.2vw), 4.5rem);

      .loggedIn_user_links--BLOCK {
        .loggedIn_user_links--CONTENT {
          position: relative;

          .loggedIn_user_profile--BTN {
            background-color: #fff;
            cursor: pointer;
            border-radius: $rounded_border_radius;
            overflow: hidden;

            &:hover {
              background-color: $super_light_color;
            }

            .loggedIn_user_profile_image--CONTAINER {
              width: clamp(5.3rem, calc(2.7rem + 3.3vw), 11rem);
              aspect-ratio: 1;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
          }

          .loggedIn_user_links--DROPDOWN {
            background-color: #fff;
            display: block;
            visibility: visible;
            position: absolute;
            top: 100%;
            right: 0;
            box-shadow: 0rem 0.4rem 1rem -0.4rem rgba(0, 0, 0, 0.38);
            border: 1px solid $light_color;
            border-radius: $secondary_border_radius;

            &[data-visible="false"] {
              display: none;
              visibility: hidden;
            }

            .loggedIn_user_links_dropdown--CONTENT {
              padding: 1rem 0;
              width: clamp(20rem, calc(10rem + 15vw), 50rem);

              .loggedIn_user_links--CONTAINER {
                li {
                  text-align: center;

                  &:not(:last-of-type) {
                    border-bottom: 1px solid $super_light_color;
                  }

                  &.username_list--ITEM {
                    padding: 1rem;

                    span {
                      white-space: nowrap;
                    }
                  }

                  a {
                    display: block;
                    padding: 1.5rem 5rem;
                    text-align: center;
                    white-space: nowrap;
                    text-transform: capitalize;

                    &:hover {
                      background-color: $super_light_color;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .user_auth--CTA {
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
      }
    }
  }

  .main_header--NAVIGATION {
    margin: 0 auto;
    padding: 1rem 0;

    @include for-phone-only{
      overflow-x: scroll;
      padding-bottom:2rem;
    }
    
    ul {
      padding: 0 1rem;
      width: fit-content;
      display: flex;
      justify-content: space-between;
      column-gap: clamp(1.5rem, calc(0.4rem + 2.1vw), 4.5rem);
      margin: auto;

      .navigations_breakline {
        height: auto;
        width: 1px;
        background-color: $light_color;
      }

      a {
        padding: 1rem 0;
        color: $dark-light_color;
        font-weight: 600;
        white-space: nowrap;
        text-transform: capitalize;

        &:hover {
          color: $dark_color;
        }
      }
    }
  }
}

main {
  padding: clamp(1rem, calc(0.3rem + 2.2vw), 5rem) clamp(.5rem, calc(.1rem + 2.5vw), 8rem);
}

// Index Page styles

.indexPage--SECTIONSCONTAINER {
  .indexPage_Topnews--SECTION {
    padding: 3rem 0;

    .Topnews--CONTENT {
      display: grid;
      grid-template-columns: 2.5fr repeat(3, minmax(0, 1fr));
      gap: 1.5rem;
      
      @include for-tablet-down{
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
      @include for-phone-only{
        gap: 0.75rem;
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }

      .news--CARD {
        overflow: hidden;

        @include for-phone-only {
          grid-column: span 2;
        }

        &:first-of-type {
          grid-row: 1/3;

          @include for-tablet-down {
            grid-column: 1/-1;
          }

          @include for-phone-only {
            .news--LINK {
              .news_content--WRAPPER {
                h2 {
                  font-size: clamp(2rem, calc(1rem + 1.7vw), 4.5rem);
                }
              }
            }
          }
        }
        @include for-phone-only{
          &:not(:first-of-type){
            .news--LINK {
              .news_content--WRAPPER {
                p {
                  font-size: clamp(1.3rem, calc(1vw + 0.4rem), 3.2rem);
                }
              }
            }
          }
        }

        .news--LINK {
          width: 100%;

          &:hover h2 {
            text-decoration: underline;
          }

          .news_image--CONTANER {
            width: 100%;
            aspect-ratio: 16/10;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              object-position: center;
            }
          }

          .news_content--WRAPPER {
            padding: 0.5rem 0;

            h2 {
              color: $dark_color;
              font-weight: 600;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            p {
              color: $light-dark_color;
              padding: 1rem 0;
            }

            .news_card--FOOTER {
              display: flex;
              align-items: center;
              column-gap: clamp(.8rem, calc(.1rem + .9vw), 2.2rem);

              .news_card_releaseTime--BLOCK {
                display: flex;
                align-items: center;
                column-gap: 0.5rem;
                padding-right: clamp(.8rem, calc(.1rem + .9vw), 2.2rem);
                border-right: 1px solid $dark-light_color;

                .news_card_releaseTime_icon--WRAPPER {
                  width: 2rem;
                  min-height: fit-content;
                  aspect-ratio: 1;

                  img {
                    width: 100%;
                    object-fit: contain;
                    object-position: center;
                  }
                }

                .news_card_releaseTime--EL {
                  line-height: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  .user_topics--SECTION,
  .news_by_categories--SECTIONSCONTAINER {
    margin: clamp(3rem, calc(1rem + 3.2vw), 7rem) 0;

    .news_category--HEADER,
    .user_topics--HEADER {
      display: flex;
      align-items: center;
      column-gap: 5rem;
      margin-bottom: 2rem;

      h2 {
        letter-spacing: 4px;
      }
    }

    .news_category--SECTION {
      margin: 3rem 0;
    }

    .user_topic--CARDHEADER,
    .news_category--HEADER {
      a {
        display: block;
      }

      h3 {
        text-transform: capitalize;
        letter-spacing: 2px;
        font-weight: 600;
      }
    }

    .news--CARD {
      padding: clamp(1.5rem, calc(0.3rem + 2.3vw), 4.5rem) 0 0;
      border-bottom: 1px solid $light_color;

      .news_card--CONTENT {
        width: 100%;

        &:hover {
          h4 {
            text-decoration: underline;
          }
        }

        .news_card_infos--CONTAINER {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          column-gap: 1.5rem;
          margin-bottom: 1.5rem;

          .news_card--LEFTSIDE {
            .news_article_source--EL {
              text-transform: capitalize;
            }
            h4 {
              margin-top: 1rem;
              font-weight: 600;
              text-transform: capitalize;
            }
          }

          .news_image--CONTAINER {
            flex:0 0 clamp(7rem, calc(4rem + 5vw), 16rem);
            aspect-ratio: 1;
            border-radius: $main_border_radius;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }

        .news_card_sincePublishmentTime--BLOCK {
          display: flex;
          align-items: center;
          column-gap: 0.5rem;

          .news_card_sincePublishmentTime--WRAPPER {
            width: clamp(1.8rem, calc(1rem + 1.3vw), 3.2rem);
            aspect-ratio: 1;

            img {
              width: 100%;
            }
          }

          .news_card_sincePublishmentTime--EL {
            line-height: 0;
          }
        }
      }
    }
  }

  .user_topics--SECTION {
    .user_topics--CARDSCONTAINER {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;

      @include for-tablet-down {
          grid-template-columns: 1fr;
        }

      .user_topic--CARD {
        background-color: $extremely_light_color;
        padding: clamp(1.5rem, calc(.3rem + 1.7vw), 3.5rem);
        border-radius: $main_border_radius;

        .user_topic--CARDHEADER {
          padding-bottom: clamp(1.5rem, calc(.3rem + 1.7vw), 3.5rem);
          margin-bottom: clamp(1.5rem, calc(.3rem + 1.7vw), 3.5rem);
          border-bottom: 1px solid $main_blue_color;
        }

        .user_topic_news--CONTAINER {
          .news--CARD {
            &:first-of-type {
              padding-top: 0;
            }
            &:last-of-type {
              border: none;
            }

            .article_aditional_infos--CONTAINER {
              display: flex;
              align-items: center;
              column-gap: clamp(.8rem, calc(.1rem + .9vw), 2.2rem);

              .news_card_sincePublishmentTime--BLOCK {
                padding-right: clamp(.8rem, calc(.1rem + .9vw), 2.2rem);
                border-right: 1px solid $light_color;
              }
            }

            h4{
              font-size: clamp(1.6rem, calc(1vw + 0.9rem), 3.5rem);
            }

            .news_image--CONTAINER{
              flex: 0 0 clamp(6rem, calc(3rem + 4vw), 13rem);
              
              @include for-tablet-down{
                flex: 0 0 clamp(7rem, calc(4rem + 5vw), 16rem);
              }
            }
          }
        }
      }
    }
  }

  .news_by_categories--SECTIONSCONTAINER {
    .news_category--SECTION {
      .news_category--HEADER {
        hr {
          width: 100%;
          border-color: $super_light_color;
        }
      }

      .news--CONTANER {
        background-color: $extremely_light_color;
        padding: clamp(1.5rem, calc(.3rem + 1.7vw), 3.5rem);
        border-radius: $main_border_radius;

        .news--CONTENT {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: clamp(3rem, calc(0.2rem + 4vw), 7rem);
          position: relative;

          @include for-phone-only {
            grid-template-columns: 1fr;
          }

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 50%;
            height: 100%;
            width: 1px;
            background-color: $light_color;
            transform: translate(-50%, -50%);

            @include for-phone-only {
              display: none;
            }
          }

          .news--CARD {
            &:nth-last-of-type(1),
            &:nth-last-of-type(2) {
              border: none;
            }

            @include for-phone-only{
              &:nth-last-of-type(2) {
                border-bottom: 1px solid $light_color  !important;
              }
            }
          }
        }
      }
    }
  }
}

// ---------------------------------------

// Sign in general Styles

.signin--BLOCK {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .signin--CONTENT {
    flex: 0 1 56rem;
    margin: 0 1.5rem;
  }

  .signin--FORM {
    width: 100%;

    .signin_form--CONTENT {
      padding: 2rem;
      border-radius: $main_border_radius;
      border: 1px solid $super_light_color;
      box-shadow: 0 0.5rem 1.1rem -1rem rgba(0, 0, 0, 30%);
      background-color: #fff;

      h2 {
        font-weight: 600;
        line-height: 1.4;
        text-transform: capitalize;
      }

      .signin_message--BLOCK {
        background-color: #ff4444;
        margin-top: 1rem;
        padding: 0.3rem 0;
        text-align: center;
        border-radius: $secondary_border_radius;

        span {
          color: #fff;
          font-weight: 600;
          letter-spacing: 1px;
        }
      }

      .form_inputs--CONTAINER {
        .form_input--CONTAINER {
          margin: 2rem 0;

          label {
            display: block;
            text-transform: capitalize;
            color: $dark_color;
          }

          input {
            width: 100%;
            padding: 0.5rem 0 1rem;
            border-bottom: 1px solid $light_color;

            &:focus,
            &:valid {
              border-bottom: 2px solid $dark_color;
            }
          }
        }

        button {
          cursor: pointer;
          padding: 1.5rem;
          border-radius: $secondary_border_radius;
          width: 100%;
          color: $extremely_light_color;
          font-weight: 700;
          background-color: $dark-light_color;
          letter-spacing: 2px;
          text-transform: uppercase;
          transition: background 0.1s ease-in-out;

          &:hover {
            background-color: #7f7fdb;
          }
        }
      }
    }
  }
}

// ---------------------------------------

// News search Block && Explore Topic Articles Block -- Related Styles

.search_results--BLOCK .search_topic_ctas--CONTAINER,
.explore_topic_articles--BLOCK .explore_topic_articles_header_ctas--CONTAINER {
  display: flex;
  align-items: flex-start;
  column-gap: 1.5rem;

  .search_topic_cta--BTN {
    cursor: pointer;
    border-radius: 30rem;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0rem 0.4rem 1.4rem -0.9rem black;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0rem 0.4rem 1.4rem -0.9rem rgba(0, 0, 0, 0.7);
    }

    &.follow_topic--BTN {
      .follow_topic_cta--CONTENT {
        display: flex;
      }

      .unfollow_topic_cta--CONTENT {
        display: none;
      }

      &[data-followed="true"] {
        .follow_topic_cta--CONTENT {
          display: none;
        }
        .unfollow_topic_cta--CONTENT {
          display: flex;
        }
      }
    }

    .search_topic_cta--CONTENT {
      display: flex;
      align-items: center;
      column-gap: 1.5rem;

      .search_topic_cta_img--CONTAINER img {
        width: clamp(1.5rem, calc(1rem + 1vw), 3.5rem);
      }

      .follow_cta--TYPO {
        text-transform: capitalize;
        color: $dark_color;
      }
    }
  }
}

.search_results--BLOCK,
.explore_topic_articles--BLOCK {
  .news_articles--BLOCK {
    padding: 2rem;
    border-radius: $main_border_radius;
    background-color: $extremely_light_color;

    @include for-phone-only {
      padding: 1rem;
    }

    .news_articles--CONTAINER {
      .news_article--CARD {
        width: 100%;
        border-radius: $secondary_border_radius;
        background-color: #fff;
        padding: 1.5rem;
        border-radius: $main_border_radius;
        margin-bottom: 1.5rem;

        @include for-phone-only {
          padding: .75rem;
        }

        a {
          width: 100%;

          &:hover h3{
            text-decoration: underline;
          }

          .news_article--CONTENT {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 1.5rem;

            .news_article_typos--CONTAINER {
              h3 {
                font-weight: 600;
                text-transform: capitalize;
              }
            }

            .news_article_img--FIGURE {
              border-radius: $secondary_border_radius;
              flex: 0 0 clamp(7.5rem, calc(3.5rem + 7vw), 20rem);
              aspect-ratio: 1;
              overflow: hidden;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
          }
        }

        .news_article_card--FOOTER {
          display: flex;
          align-items: center;
          column-gap: clamp(.8rem, calc(.1rem + .9vw), 2.2rem);
          margin-top: 1rem;

          .news_article_card_secondary_infos--CONTAINER {
            pointer-events: none;
            display: flex;
            align-items: center;
            column-gap: clamp(.8rem, calc(.1rem + .9vw), 2.2rem);
            padding-right: clamp(.8rem, calc(.1rem + .9vw), 2.2rem);
            border-right: 1px solid $light_color;

            span {
              line-height: 1.4;
            }
          }

          .news_article--CTAs {
            display: inline-flex;
            column-gap: 1rem;

            .news_article_btn--BLOCK {
              position: relative;

              &[data-saved="false"] {
                .news_article_cta--BTN .saved_news_article--IMG {
                  display: none;
                }

                .news_article_cta--BTN .unsaved_news_article--IMG {
                  display: block;
                }
              }

              &[data-saved="true"] {
                .saved_news_article--IMG {
                  display: block;
                }

                .unsaved_news_article--IMG {
                  display: none;
                }
              }

              &:hover .news_article_cta_hover--BANNER {
                visibility: visible;
                transform: translateX(-50%) scale(1);
                opacity: 1;
              }

              button {
                cursor: pointer;
                padding: 1rem;
                border-radius: $rounded_border_radius;
                background-color: #fff;
                transition: box-shadow 0.3s ease;

                &:hover {
                  box-shadow: 0rem 0.7rem 1.4rem -0.8rem rgba(0, 0, 0, 1);
                }

                img {
                  width: clamp(1.5rem, calc(1rem + 1vw), 3.5rem);
                }
              }

              .news_article_cta_hover--BANNER {
                position: absolute;
                top: 110%;
                left: 50%;
                transform: translateX(-50%) scale(0);
                visibility: hidden;
                opacity: 0;
                color: #fff;
                font-weight: 700;
                white-space: nowrap;
                text-transform: capitalize;
                border-radius: $thirdly_border_radius;
                padding: 0.6rem 1.7rem;
                background-color: $light-dark_color;

                transition: transform 0.3s ease-in-out, opacity 0.4s ease-in-out;
              }
            }
          }
        }
      }
    }

    .articles_panigation--BLOCK {
      .articles_panigation--CONTENT {
        .articles_pages--LIST {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 1.5rem;

          .panigation_page--LINK {
            padding: 0.5rem 1.5rem;
            text-transform: capitalize;
            font-weight: 600;
            color: $extremely_light_color;
            border-radius: $thirdly_border_radius;
            background-color: $main_blue_color;

            &:hover {
              background-color: $secondary_blue_color;
            }

            &[disabled="true"] {
              background-color: $thirdly_blue_color;
              pointer-events: none;
            }
          }
        }
      }
    }

    .articles_error--BLOCK {
      h3 {
        font-weight: 600;
        color: $light-dark_color;
      }
    }

    .noArticlesFound--BLOCK {
      .noArticlesFound--CONTENT {
        text-align: center;

        h3 {
          color: $light-dark_color;
          letter-spacing: 1px;
        }

        a {
          margin-top: 1.5rem;
          padding: 0.5rem 1.5rem;
          text-transform: capitalize;
          font-weight: 600;
          color: $extremely_light_color;
          border-radius: $thirdly_border_radius;
          background-color: $light_color;
        }
      }
    }
  }

  .location_selection--BLOCK {
    width: 90%;
    margin: 0 auto;
    min-height: 75vh;

    .location_selection--HEADER {
      h3 {
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 1.5rem;
      }

      .location_selection--FORM {
        width: 100%;
        position: relative;
        padding: 4rem 0;

        .location_selection_formInput--BLOCK {
          background-color: #fff;
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          border-radius: $rounded_border_radius;
          border: 1px solid $light_color;
          box-shadow: 0 0 1.5rem -0.9rem $dark_color;

          &[aria-expanded="true"] {
            border-radius: 6rem 6rem 0 0;

            .available_countries_options--CONTAINER {
              display: block;
            }
          }
          &[aria-expanded="false"] {
            border-radius: 30rem;

            .available_countries_options--CONTAINER {
              display: none;
            }
          }

          .location_selection_formInput--CONTENT {
            display: flex;
            align-items: center;
            column-gap: 2rem;
            padding: 1rem 2rem;

            .location_selection_formInput_icon--CONTAINER {
              flex: 0 1 3.5rem;

              img {
                width: 100%;
                object-position: center;
                object-fit: contain;
              }
            }

            input {
              flex: 1 1 100%;
              padding: 0.5rem 0;

              &::placeholder {
                color: $light_color;
              }
            }
          }

          .available_countries_options--CONTAINER {
            overflow-y: scroll;

            span {
              padding: 1rem 0.5rem;
              display: block;
              cursor: default;

              &.available_countries--OPTION {
                &:not(:last-of-type) {
                  border-bottom: 1px solid $extremely_light_color;
                }

                &:hover {
                  background-color: $super_light_color;
                }
              }
            }
          }
        }
      }
    }

    .selected_countries--BLOCK {
      .selected_countries--TITLE {
        font-weight: 600;
        color: $light-dark_color;
        margin: 1.5rem 0;
      }

      .no_selected_countries--BLOCK {
        border-radius: $thirdly_border_radius;
        border: 1px solid $light_color;

        .no_selected_countries--CONTENT {
          width: fit-content;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 2.5rem 0;
          margin: auto;

          .no_selected_countries_img--CONTAINER {
            width: 50%;

            img {
              width: 100%;
            }
          }

          .no_selected_countries--TYPO {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

// ---------------------------------------

// ----- News search Block

.search_results--BLOCK {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: clamp(1rem,calc(.5rem + 1.5vw) ,4rem);

  @include for-phone-only {
    flex-direction: column;
  }

  .search_topic--BLOCK {
    padding: 2rem;
    border-radius: $main_border_radius;
    background-color: $extremely_light_color;
    flex: 0 0.4 30%;

    @include for-phone-only{
      width: 100%;
      padding: 1rem;
    }

    .search_topic--HEADER {
      h2 {
        text-transform: capitalize;
        font-weight: 600;
      }
      span {
        color: $light-dark_color;
      }
    }

    .search_topic--CTAs {
      margin-top: 3rem;
    }
  }
}

// ----- Explore Topic Articles Block

.explore_topic_articles--BLOCK {
  width: 100%;
  margin: auto;

  .explore_topic_articles--HEADER {
    padding: 3rem 0;

    .explore_topic_articles_header--CONTENT {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        text-transform: capitalize;
        font-weight: 600;
      }

      .local_news_articles_header--CONTAINER {
        h2 {
          font-weight: 600;
          text-transform: capitalize;
        }

        .choose_different_country_btn--CONTAINER {
          position: relative;
          margin-top: 3rem;

          .choose_different_country--BTN {
            position: relative;
            padding: 0.5rem 2.5rem;
            background-color: $extremely_light_color;
            border-radius: $thirdly_border_radius;

            &:hover {
              background-color: $super_light_color;

              .choose_different_country--BANNER {
                visibility: visible;
                transform: translateX(-50%) scale(1);
                opacity: 1;
              }
            }

            img {
              width: 2.5rem;
            }

            .choose_different_country--BANNER {
              position: absolute;
              top: 100%;
              left: 50%;
              transform: translateX(-50%) scale(0);
              visibility: hidden;
              opacity: 0;
              color: #fff;
              font-weight: 700;
              white-space: nowrap;
              text-transform: capitalize;
              border-radius: $thirdly_border_radius;
              padding: 0.6rem 1.7rem;
              background-color: $light-dark_color;

              transition: transform 0.3s ease-in-out, opacity 0.4s ease-in-out;
            }
          }
        }
      }
    }
  }
}

// ---------------------------------------

// LOGGED IN USER SAVED NEWS ARTICLES AND ACCOUNT SETTINGS ---- STYLES
.myLibrary--BLOCK {
  .myLibrary--CONTENT {
    .myLibrary--HEADER {
      h2 {
        font-weight: 600;
        margin-bottom: 3rem;
      }

      .followed_topics--BLOCK {
        .followed_topics--LIST-CONTAINER {
          overflow-x: scroll;
          padding-bottom: 2rem;

          &::-webkit-scrollbar {
            height: 1rem;
          }

          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }

          &::-webkit-scrollbar-thumb {
            background-color: $thirdly_blue_color;
            outline: 1px solid slategrey;
          }

          .followed_topics--LIST {
            display: flex;
            align-items: center;
            column-gap: 2rem;

            .followed_topic--LINK {
              white-space: nowrap;
              padding: 0.5rem 2rem;
              text-transform: capitalize;
              font-weight: 600;
              color: $dark_color;
              background-color: $extremely_light_color;
              border-radius: $secondary_border_radius;

              &:hover {
                background-color: $super_light_color;
              }
            }
          }
        }
      }
    }
  }

  hr {
    margin: clamp(2rem, calc(1.7rem + 2.7vw), 8rem) 0 0;
    border: none;
    border-top: 1px solid $super_light_color;
  }

  .followed_topic_newsArticles--SECTION {
    .followed_topic_newsArticles--BLOCK {
      .followed_topic_newsArticles--CONTAINER {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: clamp(1.5rem, calc(0.2rem + 4vw), 7rem);
        
        @include for-phone-only{
          grid-template-columns: 1fr;
        }

        .news_article--CARD {
          width: 100%;
          background-color: #fff;
          padding: 1.5rem;
          margin-bottom: 1.5rem;
          border-bottom: 1px solid $super_light_color;
          
          @include for-phone-only{
            padding: .75rem;
          }
          
          &:nth-last-of-type(1),
          &:nth-last-of-type(2) {
            border: none;
          }

          a {
            width: 100%;

            &:hover h3 {
              text-decoration: underline;
            }

            .news_article--CONTENT {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              gap: 1.5rem;

              .news_article_typos--CONTAINER {
                h3 {
                  font-weight: 600;
                  text-transform: capitalize;
                }
              }

              .news_article_img--FIGURE {
                border-radius: $secondary_border_radius;
                flex: 0 0 clamp(7.5rem, calc(3rem + 7vw), 20rem);
                aspect-ratio: 1;
                overflow: hidden;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
                }
              }
            }
          }

          .news_article_card--FOOTER {
            display: flex;
            align-items: center;
            column-gap: 1.5rem;
            margin-top: 1rem;

            .news_article_card_secondary_infos--CONTAINER {
              pointer-events: none;
              display: flex;
              align-items: center;
              column-gap: clamp(.8rem, calc(.1rem + .9vw), 2.2rem);
              padding-right: clamp(.8rem, calc(.1rem + .9vw), 2.2rem);
              border-right: 1px solid $light_color;

              span {
                line-height: 1.4;
              }
            }

            .news_article--CTAs {
              display: inline-flex;
              column-gap: 1rem;

              .news_article_btn--BLOCK {
                position: relative;

                &[data-saved="false"] {
                  .news_article_cta--BTN .saved_news_article--IMG {
                    display: none;
                  }

                  .news_article_cta--BTN .unsaved_news_article--IMG {
                    display: block;
                  }
                }

                &[data-saved="true"] {
                  .saved_news_article--IMG {
                    display: block;
                  }

                  .unsaved_news_article--IMG {
                    display: none;
                  }
                }

                &:hover .news_article_cta_hover--BANNER {
                  visibility: visible;
                  transform: translateX(-50%) scale(1);
                  opacity: 1;
                }

                button {
                  cursor: pointer;
                  padding: 1rem;
                  border-radius: $rounded_border_radius;
                  background-color: #fff;
                  transition: box-shadow 0.3s ease;

                  &:hover {
                    box-shadow: 0rem 0.7rem 1.4rem -0.8rem rgba(0, 0, 0, 1);
                  }

                  img {
                    width: clamp(1.5rem, calc(1rem + 1vw), 3.5rem);
                  }
                }

                .news_article_cta_hover--BANNER {
                  position: absolute;
                  top: 110%;
                  left: 50%;
                  transform: translateX(-50%) scale(0);
                  visibility: hidden;
                  opacity: 0;
                  color: #fff;
                  font-weight: 700;
                  white-space: nowrap;
                  text-transform: capitalize;
                  border-radius: $thirdly_border_radius;
                  padding: 0.6rem 1.7rem;
                  background-color: $light-dark_color;

                  transition: transform 0.3s ease-in-out,
                    opacity 0.4s ease-in-out;
                }
              }
            }
          }
        }
      }

      .followed_topic_newsArticles--FOOTER {
        background: none;

        a {
          color: $secondary_blue_color;
          text-transform: capitalize;

          &:hover {
            color: $main_blue_color;
            text-decoration: underline;
          }
        }
      }
    }

    .no_selected_countries--BLOCK {
      border-radius: $thirdly_border_radius;
      border: 1px solid $light_color;

      .no_selected_countries--CONTENT {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.5rem 0;
        margin: auto;

        .no_selected_countries_img--CONTAINER {
          width: 50%;

          img {
            width: 100%;
          }
        }

        .no_selected_countries--TYPO {
          white-space: nowrap;
          text-transform: capitalize;
        }
      }
    }
  }
}
// ---------------------------------------

// LOGGED IN USER SAVED NEWS ARTICLES AND ACCOUNT SETTINGS ---- STYLES
.user_account--BLOCK {
  .user_account--CONTENT {
    width: 100%;
    margin: auto;

    .user_account--HEADER {
      h2 {
        font-weight: 600;
        text-transform: capitalize;
      }
      .user_saved_articles_length--EL {
        margin-top: 1rem;
        text-transform: capitalize;
        color: $light-dark_color;
      }
    }

    hr {
      margin: clamp(2rem, calc(1.7rem + 2.7vw), 8rem) 0;
      border: none;
      border-bottom: 1px solid $light_color;
    }

    .saved_news_articles--BLOCK {
      min-height: 50vh;
      border-radius: $secondary_border_radius;
      padding: 1.5rem;
      background-color: $extremely_light_color;

      @include for-phone-only{
        padding: 1rem;
      }

      .unsaveArticle_error--BLOCK {
        display: none;
        background-color: #ed3f3f;
        margin-bottom: 3rem;
        padding: 0.5rem 0;
        text-align: center;
        border-radius: $thirdly_border_radius;

        span {
          text-transform: capitalize;
          color: $extremely_light_color;
          font-weight: 700;
          letter-spacing: 1px;
        }

        &.show_unsaveArticle_error {
          display: block;
        }
      }

      .saved_news_articles--CONTAINER {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: clamp(1.5rem, calc(0.2rem + 4vw), 7rem);
        row-gap: 2rem;
        
        @include for-phone-only{
          grid-template-columns:1fr;
        }

        .news--CARD {
          padding-bottom: 2rem;
          border-bottom: 1px solid $light_color;

          &:nth-last-of-type(1),
          &:nth-last-of-type(2) {
            border: none;
          }

          .news_card--CONTENT {
            width:100%;

            &:hover {
              h3 {
                text-decoration: underline;
              }
            }

            .news_card_infos--CONTAINER {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              column-gap: 1.5rem;
              margin-bottom: 0.5rem;

              .news_card--LEFTSIDE {
                .news_card_eyebrow--BLOCK {
                  display: flex;
                  align-items: center;
                  column-gap: 1.5rem;

                  .news_card_sincePublishmentTime--BLOCK {
                    display: flex;
                    align-items: center;
                    column-gap: 0.5rem;
                    padding-right: clamp(.8rem, calc(.1rem + .9vw), 2.2rem);
                    border-right: 2px solid $light_color;

                    .news_card_sincePublishmentTime--WRAPPER {
                      width: clamp(1.8rem, calc(1rem + 1.3vw), 3.2rem);
                      aspect-ratio: 1;

                      img {
                        width: 100%;
                      }
                    }

                    .news_card_sincePublishmentTime--EL {
                      line-height: 0;
                    }
                  }

                  .news_article_source--EL {
                    text-transform: capitalize;
                  }
                }

                h3 {
                  margin-top: 1rem;
                  font-weight: 600;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }
              }

              .news_article_img--FIGURE {
                flex: 0 0 clamp(7rem, calc(4rem + 5vw), 16rem);
                aspect-ratio: 1;
                border-radius: $main_border_radius;
                overflow: hidden;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
                }
              }
            }
          }

          .news_article--CTAs {
            display: inline-flex;
            column-gap: 1rem;

            .news_article_btn--BLOCK {
              position: relative;

              &[data-saved="false"] {
                .news_article_cta--BTN .saved_news_article--IMG {
                  display: none;
                }

                .news_article_cta--BTN .unsaved_news_article--IMG {
                  display: block;
                }
              }

              &[data-saved="true"] {
                .saved_news_article--IMG {
                  display: block;
                }

                .unsaved_news_article--IMG {
                  display: none;
                }
              }

              &:hover .news_article_cta_hover--BANNER {
                visibility: visible;
                transform: translateX(-50%) scale(1);
                opacity: 1;
              }

              button {
                cursor: pointer;
                padding: clamp(1rem, calc(0.2rem + 0.7vw), 2rem);
                border-radius: $rounded_border_radius;
                background-color: #fff;
                transition: box-shadow 0.3s ease;

                &:hover {
                  box-shadow: 0rem 0.7rem 1.4rem -0.8rem rgba(0, 0, 0, 1);
                }

                img {
                  width: clamp(1.5rem, calc(1rem + 1vw), 3.5rem);
                }
              }

              .news_article_cta_hover--BANNER {
                position: absolute;
                top: 110%;
                left: 50%;
                transform: translateX(-50%) scale(0);
                visibility: hidden;
                opacity: 0;
                color: #fff;
                font-weight: 700;
                white-space: nowrap;
                text-transform: capitalize;
                border-radius: $thirdly_border_radius;
                padding: 0.6rem 1.7rem;
                background-color: $light-dark_color;

                transition: transform 0.3s ease-in-out, opacity 0.4s ease-in-out;
              }
            }
          }
        }

        .empty_savedArticles_list--BLOCK {
          grid-column: 1/3;

          span {
            text-transform: capitalize;
          }
        }
      }
    }

    .user_account_settings--BLOCK {
      border-radius: $secondary_border_radius;
      padding: 2rem 5rem;
      background-color: $extremely_light_color;

      .user_account_settings--CONTENT {
        .user_account_settings--FORM {
          display: flex;
          flex-direction: column;
          row-gap: 2.5rem;

          .form_submit_state--BLOCK {
            padding: 1rem 0;
            text-align: center;
            border-radius: $thirdly_border_radius;

            span {
              color: $extremely_light_color;
              font-weight: 700;
              letter-spacing: 1px;
            }

            &.success--BLOCK {
              background-color: #4ca44c;
            }

            &.error--BLOCK {
              background-color: #ed3f3f;
            }
          }

          & > .change_user_password_fields--CONTAINER {
            display: flex;
            flex-direction: column;
            row-gap: 2.5rem;
            height: 0;
            overflow: hidden;
            margin-top: 3rem;

            &[data-expanded="true"] {
              height: fit-content;
            }
          }

          .user_account_settings_form--FIELD {
            label {
              text-transform: capitalize;
              font-weight: 600;
            }

            .user_current_avatar_pic--CONTAINER {
              width: 10rem;
              aspect-ratio: 1;
              border-radius: $rounded_border_radius;
              overflow: hidden;
              
              img {
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;
              }
            }

            input {
              font-weight: 400;
              width: 100%;
              padding: 1rem;
              color: $dark_color;
              border-bottom: 1px solid $light-dark_color;

              &[type="file"] {
                border: none;
                padding-left: 0;
                display: block;
                width: fit-content;
              }
            }
          }

          .change_user_password--BTN {
            align-self: flex-start;
            cursor: pointer;
            padding: 1.5rem 2rem;
            font-weight: 700;
            color: $dark-light_color;
            text-transform: capitalize;
            background-color: $thirdly_blue_color;
            border-radius: $secondary_border_radius;
            transition: background 0.1s ease-in-out;

            &:hover {
              background-color: $secondary_blue_color;
              color: $super_light_color;
            }
          }

          .user_account_settings_form--CTAs {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .user_account_settings_form_submit--BTN {
              cursor: pointer;
              padding: 1.5rem 2rem;
              font-weight: 700;
              color: $extremely_light_color;
              text-transform: capitalize;
              background-color: $secondary_blue_color;
              border-radius: $secondary_border_radius;
              transition: background 0.1s ease-in-out;

              &:hover {
                background-color: $main_blue_color;
              }
            }

            .delete_account--BTN {
              text-transform: capitalize;
              color: #ed3f3f;
              font-weight: 700;
              letter-spacing: 1px;

              &:hover {
                color: #ed1111;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

// ---------------------------------------

// ----- Footer Block

footer {
  background-color: $dark-light_color;
  padding: 3rem 0;

  .footer--CONTENT {
    text-align: center;

    .globalNews_copyright--EL {
      color: #fff;
      letter-spacing: 1px;

      em {
        font-weight: 700;
      }
    }
  }
}

// ---------------------------------------

// Sharing Articles -- BLOCK
.share_overlay--BLOCK {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(95, 99, 104, 0.5);

  &[data-visible="true"] {
    display: block;
  }

  .share_overlay--CONTENT {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .share_links--BLOCK {
      flex: .2 1 70rem;
      margin: 0 2rem;
      background-color: #fff;
      border-radius: $main_border_radius;

      .share_links--CONTENT {
        padding: 2rem;

        .close_share_overlay_btn--CONTAINER {
          text-align: right;

          .close_share_overlay--BTN {
            display: inline-block;
            padding: 1rem;
            border-radius: $rounded_border_radius;
            cursor: pointer;
            transition: background 0.2s ease-in-out;

            &:hover {
              background-color: $super_light_color;
            }

            .close_share_overlay_icon--CONTAINER {
              display: block;
              width: clamp(2.5rem, calc(1.2rem + 1.4vw), 4.5rem);
              aspect-ratio: 1;

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
              }
            }
          }
        }

        .sharing_target--HEADER {
          .article_source--EL {
            color: $light-dark_color;
          }

          h6 {
            font-weight: 600;
            text-transform: capitalize;
          }
        }

        hr {
          margin: 3rem 0;
          border: none;
          border-top: 1px solid $light_color;
        }

        .share_links--CONTAINER {
          .share_links_container--CONTENT {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 2rem;

            .share_link--BTN {
              cursor: pointer;

              .share_link_btn--CONTENT {
                text-align: center;
                .share_link_btn_icon--CONTAINER {
                  margin: auto;
                  display: block;
                  width: clamp(5rem, calc(2rem + 3vw), 9rem);
                  aspect-ratio: 1;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                  }
                }

                .share_link_btn--TITLE {
                  display: block;
                  color: $light-dark_color;
                  text-transform: capitalize;
                  margin-top: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
// ---------------------------------------
